*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
body {
    display: flex;
    flex-flow: row wrap;
}
button {
    color: white;
    background-color: #3882F6;
    border: none;
    outline: ;
}
.hero{
    flex: 1 1 auto;
}
.top-con{
    justify-content: center;
    align-items: center;
}
.Temp-logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}
.head, ul, .Temp-logo {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    color: white;
}
.head li, .head a {
    text-decoration: none;
    list-style-type: none;
    color: rgba(255, 255, 255, 0.594);
}
.head, .top-con {
    background-color: #1f2937;
    color:white;
}
.awesome-website{
    flex-flow: row wrap;
    flex: 1 1 525px;
}
#awesome {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;

}
#place-holder{
    background-color: #c0c1c3ba;
    flex: 1 1 auto;
}
.top-con div{
    font-size: 18px;
    color: #E5E7EB;
}
.Img-holder, .Inspirational_quote {
    background-color: rgba(255, 255, 255, 0.594);
}
body .top-con, .awesome-website, #thunder, .sub-con, .footer, .woobli-ilustration{
    display: flex;
}
.awesome-website {
    flex-flow: column wrap;
}
.awesome-website button, .sub-con button {
    max-width: 70px;
}
.mid-con{
    display: flex;
    flex-flow: column;
    align-items: center;
}
#woobli {
    border: solid 3px blue;
}
.bottom-con {
    display: flex;
    flex-flow:  column wrap;
}
.inspirational-quote {
    max-width: ;
}
#thunder {
    justify-content: center;
}
.sub-con {
   flex-flow: row wrap; 
   justify-content: center;
}

.footer {
   align-self: center;
   justify-content: center;
   background-color: #1f2937;
   color: white;
   flex: 1;
}